color_black = #212529
color_white = #f8f9fa
color_white_light = #fdfdfd
color_gray_light = #adb5bd
color_gray_dark = #868e96
color_blue_light = #3147b3
color_blue_dark = #202f76
color_teal_lightest = #63e6be
color_teal_light = #0ca678

@require "base.styl"
@require "header.styl"
@require "footer.styl"
@require "pager.styl"
@require "post.styl"
@require "post_list.styl"
@require "post_content.styl"
@require "archive.styl"
@require "compatible/admonition.styl"
