.page_header
	min-height: 80px
	box-shadow: 0 0 6px 1px #343a40
	background-color: color_white_light
	
	.left
		float: left
		display: table
		margin-left: 2cm
		.site_icon_link
			.site_icon
				padding: 10px
				height: 60px
				vertical-align: middle
		.site_name
			vertical-align: middle
			display: inline-block
			padding-left: 10px
			.title
				font-size: 25px
			.subtitle
				.text
					color: color_gray_light
		
	.right
		float: right
		min-height: 80px
		display: inline-flex
		.links
			display: inline-flex
			.item
				margin-top: auto
				margin-bottom: auto
				margin-right: 20px;
				margin-left: 20px;