name: Build

on:
  push:
  pull_request:
  workflow_dispatch:
  release:
    types: 
      - created

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js environment
        uses: actions/setup-node@v2.5.0
        with:
          node-version: '16'

      - name: Install dependencies
        run: npm install

      - name: Clean-Up
        run: rm -rf node_modules

      - name: Upload as Build Artifact
        uses: actions/upload-artifact@v2.3.1
        with:
          path: ./

      - name: Publish to NPM
        if: github.event_name == 'release'
        env:
          NPM_TOKEN: ${{ secrets.NPM_SECRET }}
        run: npm publish
